{{ define "main" }}

  <h2>{{ .Title }}</h2>
  <div class="container">
    <div class="row">
    {{ range .Pages }}
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4">
        <a href="{{ .RelPermalink }}">
          <div class="card shadow-lg">
            <img src="/img/{{ .Params.image}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title fw-bold">{{ .Title }}</h5>
              <h6>{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02" )  }}</h6>
              <p class="card-text">{{ .Summary }}</p>
            </div>
          </div>
        </a>
      </div>
    {{ end }}
  </div>
  </div>
{{ end }}

